@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141416;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141416;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hero-bg-dark {
  background: linear-gradient(180deg, rgba(20, 20, 22, 0.6) 0%, #141416 86.26%);
}

.price {
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #e1574b 9.92%,
    #e4c477 52.47%,
    #4f9b8f 91.69%,
    #ffffff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
